{% extends 'index.html'%} {% block content%}
<div class="container-fluid mt-5">
            <form action="/create" class="mb-3" method="POST">
                <table border="2">
                <tr><td>
                    <label htmlFor="image" class='form-label'>ImageId:</label>
                </td>
                    <td>
                        <input type="text" name="image" class="form-control" required/><br>
                    </td></tr>
               
                    <tr><td>
                        <label htmlFor="type" class='form-label'>Instance Type:</label>
                    </td>
                        <td>
                            <input type="text" name="type" class="form-control" required/><br>
                        </td></tr>

                        <tr><td>
                            <label htmlFor="group" class='form-label'>Security Group id:</label>
                        </td>
                            <td>
                                <input type="text" name="group" class="form-control"/><br>
                            </td></tr>
                            
               </table> <br><br>
                          <input type="submit" class="btn btn-primary" value="Create Instance">
            </form>
        </div>

        {% endblock content %}