<html>
    <head>
        <title>AWS Dashboard</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body style="background-color:rgb(236, 212, 168);font-size:larger;font-family: cursive;font-weight: bold;">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown ml-5">
              <a class="nav-link dropdown-toggle" id="ec2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                EC2 Instances
              </a>
              <div class="dropdown-menu" aria-labelledby="ec2">
                <a class="dropdown-item" href="/show">Get Instances</a>
                <a class="dropdown-item" href="/create">Create Instance</a>
                <a class="dropdown-item" href="/start">Start Instance</a>
                <a class="dropdown-item" href="/stop">Stop Instances</a>
                <a class="dropdown-item" href="/terminate">Terminate Instances</a>
              </div>
            </li>

            <li class="nav-item dropdown mx-5">
              <a class="nav-link dropdown-toggle" id="users" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                IAM Users
              </a>
              <div class="dropdown-menu" aria-labelledby="users">
                <a class="dropdown-item" href="/users">List users</a>
                <a class="dropdown-item" href="/createUser">Create another user</a>
              </div>
            </li>

            <li class="nav-item dropdown mx-5">
              <a class="nav-link dropdown-toggle" id="buckets" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                S3 Buckets
              </a>
              <div class="dropdown-menu" aria-labelledby="buckets">
                <a class="dropdown-item" href="/buckets">List Buckets</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
          
      <div class="text-center mt-3"><img class="img-fluid rounded mx-auto d-block" src="https://t4.ftcdn.net/jpg/02/86/44/49/240_F_286444997_3vlgrwsgRlgQXv37i6ATVQDiA5ypC1C6.jpg" alt=""></div>
          {% block content %} {% endblock content %}

          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>

