{% extends 'index.html'%} {% block content%}
<div class="container-fluid mt-5">
            <form action="/start" class="mb-3" method="POST">
                <table border="1">
                <tr><td>
                    <label for="id" class="form-label">InstanceId:</label>
                </td>
                    <td>
                        <input type="text" class="form-control" name="id" required/><br>
                    </td></tr>
                            
               </table> <br><br>
                          <input type="submit" class="btn btn-primary" value="Start Instance">
            </form>
            
        </div>

        {% endblock content %}