{% extends 'index.html'%} {% block content%}
<div class="container-fluid mt-5">
            <form action="/start" method="POST">
                <table border="1">
                <tr><td>
                    <label htmlFor="id">InstanceId:</label>
                </td>
                    <td>
                        <input type="text" name="id" required/><br>
                    </td></tr>
                            
               </table> <br><br>
                          <input type="submit" value="Start Instance">
            </form>
            
        </div>

        {% endblock content %}